button {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  line-height: 1rem;
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
  -webkit-appearance: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-size: 0.75rem;
}
.btn {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  line-height: 1rem;
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--dark-blue);
  color: var(--white);
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid transparent;
  outline: none;
  max-height: 2rem;
  margin: 0;
  text-decoration: none;
  transition: .1s;
  font-weight: 600;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 0.5em 1em 0.7em 1em;
  font-size: 0.75rem;
  span {
    line-height: 1rem;
  }
  &:hover, &:focus {
    background-color: #4C79CE;
  }
  &:active {
    background-color: #6290E8;
    border-color: #E2E5E6;
    transform: scale(0.95);
  }
  &.big {
    padding: 1rem;
    max-height: 3rem;
  }
  &.default {
    background-color: var(--white);
    color: #3F4C67;
    border-color: #3F4C67;
    border-width: 2px;
    &:hover, &:focus {
      background-color: #ecf5ff;
    }
    &:active {
      color: #3a8ee6;
    }
  }
  &.success {
    background-color: var(--dark-green);
    &:hover, &:focus {
      background-color: var(--green);
    }
    &:active {
      background-color: var(--light-green);
    }
  }
  &.warning {
    background-color: var(--dark-yellow);
    &:hover, &:focus {
      background-color: var(--yellow);
    }
    &:active {
      background-color: var(--light-yellow);
    }
  }
  &.danger {
    background-color: var(--dark-red);
    &:hover, &:focus {
      background-color: var(--red);
    }
    &:active {
      background-color: var(--light-red);
    }
  }
  &.disabled, &:disabled,
  &.disabled:hover, &:disabled:hover,
  &.disabled:active, &:disabled:active {
    background-color: var(--disabled);
    transform: scale(1);
    border-color: transparent;
    color: var(--light-gray);
  }

}
